<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
   			http://www.springframework.org/schema/data/mongo
   			http://www.springframework.org/schema/data/mongo/spring-mongo-3.0.xsd">

    <mongo:repositories base-package="com.online.items.core.repository" />

    <mongo:db-factory   id="mongoDbFactory"
                        connection-string="mongodb://${mongo.host.name}:${mongo.host.port}/${mongo.db.name}"/>

    <mongo:mapping-converter id="mongoConverter" base-package="com.online.booking.core.converter">
        <mongo:custom-converters base-package="com.online.booking.core.converter"/>
    </mongo:mapping-converter>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory"/>
        <constructor-arg ref="mongoConverter"/>
    </bean>

    <bean id="initMongoService" class="com.online.items.core.service.InitMongoService" init-method="init"/>

</beans>